@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

.Frame {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.Frame>.frame-container {
    flex: 1;
    min-height: 100%;
}
.Frame.medium>.frame-container>.frame-wrap, .Frame.small>.frame-container>.frame-wrap {
    padding: 40px 40px 0;
}
.Frame>.frame-container>.frame-wrap {
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1128px;
    min-width: 0;
}
.Frame> .frame-container> .frame-wrap> .frame-body {
    flex: 1;
    min-width: 0;
    padding-bottom: 80px;
    position: relative;
}

a.d-block.pb-4.pb-sm-3.ml-0 {
    color: #ca74ec;
    font-weight: bold;
}

.my-5 {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}
.mx-2 {
    margin-right: 16px!important;
}
.ml-2, .mx-2 {
    margin-left: 16px!important;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

/*카드*/
div.Card {
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 16px;
    box-shadow: 0 5px 22px 4px rgba(236,238,242,.5), 0 8px 16px 0 rgba(236,238,242,.5);
}

br.d-none.d-sm-block {
    display: none!important;
}
div.Card>.card-header {
    position: relative;
    padding: 32px;
    display: flex;
    align-items: center;
}
div.Card>.card-description {
        margin-top: 24px;
    padding: 0 32px 32px;
    line-height: 1.5;
}
.form-group {
    padding: 32px;
    min-height: 88px;
    border-top: 1px solid #eceef2;
    font-size: 16px;
}

.form-group h5.form-label {
    font-weight: 500;
    margin-right: 16px!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.h5, h5 {
    font-size: 16px;
}

.bullet-ul {
    color: #212329;
}

p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
ul.bullet-ul {
    list-style-type: decimal;
    padding-left: 16px;
}

ul.bullet-ul.number.mb-half {
    list-style-type: decimal;
    padding-left: 16px;
}

.bullet-ul.number {
    list-style-type: decimal;
    padding-left: 16px;
}


.bullet-ul.muted>li {
    color: #8e929f;
}

.bullet-ul.small>li {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: -.2px;
    background-position: 0 8px;
}
/*입점 시작하기*/

.button.medium {
    flex-shrink: 0;
    min-width: 73px;
    max-height: 48px;
    font-size: 16px;
    padding: 12px 24px;
    line-height: 23px;
}

.button {
    color: #fff;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -.4px;
    text-align: center;
    border-radius: 4px;
    background-color:  #ca74ec;
    border: 1px solid  #ca74ec;
    cursor: pointer;
    white-space: nowrap;
}

.Tip {
    border-radius: 8px;
    background-color: #f2f9f9;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -.2px;
    user-select: none;
}

.Tip .tip-content .title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.4px;
    color: #212329;
}

.d-flex.align-items-center {
    font-size: bold;
    font: bold;
    font-style: bold;
    font-style: italic;
    font-weight: bold;
}
