@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

.frame-wrap {
    display: flex;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1128px;
    min-width: 0;
    padding: 40px 56px 0;
}
frame-wrap>.frame-body {
     flex: 1;
    min-width: 0;
    padding-bottom: 80px;
    position: relative;
}
button.top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    padding: 16px;
    background-color: hsla(0,0%,100%,.88);
    color: #8e929f;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d7dbe6;
    opacity: 1;
    transition: opacity .3s,visibility .5s;
}

.Frame>.frame-container>.frame-wrap>.frame-body {
    flex: 1;
    min-width: 0;
    padding-bottom: 80px;
    position: relative;
}

.mb-4 {
    margin-bottom: 32px!important;
}
.Frame:not(.small) .ShopSelect select {
    font-size: 22px;
    letter-spacing: -.4px;
    line-height: 32px;
}
/*가게 셀렉트*/
select:not([size]) {
    font-size: 16px;
    padding: 0 35px 0 12px;
    height: 48px;
    line-height: 48px;
}
.ShopSelect select {
    background-color: #f2f7ff;
    border-color: #eceef2;
    cursor: pointer;
    opacity: 0;
    padding-right: 50px;
    position: absolute;
}

.ShopSelect.mb-4.mb-sm-0 {
    margin-bottom: 32px!important;
}

h3 {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
/*가게이름 더보기 아이콘*/
.ShopSelect>.title i.icon {
    color: #8e929f;
    font-size: 16px;
}

.icon {
    line-height: 1;
}

.text-sub {
    color: #8e929f!important;
}

.mt-1 {
    margin-top: 8px!important;
}
/*첫번째 카드*/
div.Card {
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 16px;
    box-shadow: 0 5px 22px 4px rgba(236,238,242,.5), 0 8px 16px 0 rgba(236,238,242,.5);
}

.card-body.pt-sm-2 {
    padding: 32px;
    border-top: 1px solid #eceef2;
}

div.Card>:first-child {
    border-top: none!important;
}

h5 {
    font-size: 16px;
}

 .h5, h5 {
    line-height: 24px;
    letter-spacing: -.4px;
}

.Card.rounded.mt-sm-3.mx-sm-2 {
    padding: 32px;
}

.average-wrap {
    display: flex;
    padding: 0;
}
/*평균별점*/
.star-point {
    width: 50%;
    box-sizing: border-box;
    float: left;
    justify-content: normal;
    padding: 16px 24px 0 0;
}
.average-wrap .total-point .total {
    color: #212329;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.45;
}
/*그래프*/
.total-point {
    width: 104px;
}

.average-wrap .total-point h3 {
    color: #212329;
    font-size: 14px;
    letter-spacing: -.4px;
    line-height: 1.43;
}

p.month-info {
    color: #8e929f;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 1.67;
}

.average-wrap .detail-point {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0 0 8px;
}

.Frame.large .average-wrap .star-point .detail-point, .Frame.medium .average-wrap .star-point .detail-point, .Frame.xlarge .average-wrap .star-point .detail-point {
    margin-left: 0;
}

.average-wrap .detail-point li {
    align-items: center;
    display: flex;
}

.average-wrap .detail-point .point {
    display: inline-block;
    font-size: 14px;
    letter-spacing: -.4px;
    line-height: 1.43;
}

.average-wrap .detail-point .point {
    color: #212329;
    flex: 0 0 22px;
    text-align: right;
}

/*날짜로 조회*/
.search-date-wrap {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.search-date-wrap {
    margin: 32px 16px 0;
    padding: 0 0 24px;
}

.search-date-wrap {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.search-date-wrap .date-picker-wrap {
    flex: 0 0 250px;
    margin-right: 16px;
}
.DateRangePicker {
    position: relative;
    padding: 0 10px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
    background-color: #fff;
}

.DateRangePicker .date-wrap {
    display: inline-block;
    position: relative;
    padding: 12px 0 10px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.4px;
    color: #212329;
}

.DateRangePicker .date-wrap .DayPickerInput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.DayPickerInput {
    display: inline-block;
}
.DateRangePicker .date-wrap input {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.DateRangePicker .date-range {
    padding: 0 5px;
}

.DateRangePicker .icon-calendar {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 24px;
    line-height: 33px;
}

.button.medium {
    flex-shrink: 0;
    min-width: 73px;
    max-height: 48px;
    font-size: 16px;
    padding: 12px 24px;
    line-height: 23px;
}

.button {
    color: #fff;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -.4px;
    text-align: center;
    border-radius: 4px;
    background-color: #ca74ec;
    border: 1px solid #ca74ec;
    cursor: pointer;
    white-space: nowrap;
}

.Frame.large .search-date-wrap .desc, .Frame.medium .search-date-wrap .desc, .Frame.xlarge .search-date-wrap .desc {
    margin-left: 16px;
}
.search-date-wrap .desc {
    color: #8e929f;
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 1.67;
}

label.radio-button {
    margin: 0;
    flex: 1;
}
.radio-group {
    display: flex;
}

.radio-button {
    display: inline-flex;
    margin-right: 8px;
    cursor: pointer;
}

.radio-button input[type=radio]:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
}
.mb-3 {
    margin-bottom: 24px!important;
}
.radio-group>.radio-button input[type=radio]:checked+.label {
    color: #212329;
    font-weight: 700;
    background-color: #f3f8ff;
}

.radio-group>.radio-button input[type=radio]+.label:last-child {
    border-right-color: #d7dbe6;
    margin-right: -1px;
}
.radio-group>.radio-button input[type=radio]+.label {
    width: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    height: 48px;
    background: #fff;
    border: 1px solid #d7dbe6;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    -webkit-transition: color .3s,background .3s,border-color .3s;
}
.radio-group>.radio-button:first-child .label {
    border-radius: 4px 0 0 4px;
}
.radio-button input[type=radio]+.label {
    vertical-align: middle;
}
/*전체 미답변 차단*/
input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

.search-date-wrap .desc {
    color: #8e929f;
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 1.67;
    margin-left: 16px;
}
/*리뷰 리스트*/
.user-info {
    width: 23%;
    display: block;
    float: left;
}

span.date {
    color: #8e929f;
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 1.67;
}

/*별점*/
/* .review-list>.Card .user-info .rating-stars-wrap .rating-stars {
    width: 80px;
    height: 16px;
    background: url(https://ceo-cdn.baemin.com/cdn/ceo-selfservice/src/images/star-off-all@2x.png?ver=d60635d…) repeat-x 0 0/80px 16px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 8px;
    vertical-align: middle;
} */

.review-list>.Card .review-photos li:after {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(33,35,41,.05);
    content: "";
    position: absolute;
}

 .review-list .review-photos li, .Frame.medium .review-list .review-photos li, .Frame.xlarge .review-list .review-photos li {
    height: 80px;
    max-width: 80px;
}
.review-list .review-info {
    width: 77%;
    float: left;
    margin-top: 0;
}

.review-list>.Card {
    font-size: 16px;
    overflow: hidden;
    padding: 32px;
}
.Frame.large .review-list .user-info, .Frame.medium .review-list .user-info, .Frame.xlarge .review-list .user-info {
    width: 23%;
    display: block;
    float: left;
}

.Frame.large .review-list .user-info .rating-stars-wrap, .Frame.medium .review-list .user-info .rating-stars-wrap, .Frame.xlarge .review-list .user-info .rating-stars-wrap {
    flex: none;
    margin-bottom: 16px;
}
.review-list>.Card .user-info .rating-stars-wrap .nick {
    color: #212329;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.4px;
    line-height: 1.33;
}

.review-list>.Card .user-info .rating-stars-wrap .rating-stars {
    width: 80px;
    height: 16px;
    background: url() repeat-x 0 0/80px 16px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 8px;
    vertical-align: middle;
}

.Frame.large .review-list .review-info, .Frame.medium .review-list .review-info, .Frame.xlarge .review-list .review-info {
    width: 77%;
    float: left;
    margin-top: 0;
}

.review-list>.Card .review-cont {
    color: #212329;
    display: block;
    font-size: 16px;
    letter-spacing: -.4px;
    line-height: 1.5;
    margin-bottom: 16px;
    max-width: 560px;
}

.review-list>.Card .review-menus li {
    color: #212329;
    display: block;
    font-size: 14px;
    letter-spacing: -.4px;
    line-height: 1.43;
    margin-bottom: 4px;
    max-width: 560px;
}

.review-list>.Card .review-photos {
    display: -ms-flexbox;
    display: flex;
}
.Frame.large .review-list .review-photos li, .Frame.medium .review-list .review-photos li, .Frame.xlarge .review-list .review-photos li {
    height: 80px;
    max-width: 80px;
}

.review-list>.Card .review-photos li {
    height: 62px;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex: 1;
    font-size: 0;
    overflow: hidden;
    position: relative;
}
.review-list>.Card .ceo-comment {
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 8px;
    display: block;
    max-width: 100%;
    padding: 24px;
}

/*수정 삭제 버튼*/
.button-group.align-right {
    justify-content: flex-end;
}
.button-group.button-group-row {
    flex-direction: row;
}
.button-group {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.review-list>.Card .ceo-comment+.ceo-comment-write-wrap {
    margin-top: 24px;
}
.review-list>.Card .ceo-comment-write-wrap {
    display: block;
    max-width: 100%;
}

/*댓글을 등록해주세요*/
button.open-comment {
    width: 100%;
    background-color: #fff;
    border: 1px solid #d7dbe6;
    box-sizing: border-box;
    color: #8e929f;
    display: block;
    font-size: 16px;
    letter-spacing: -.4px;
    line-height: 1.5;
    max-width: 100%;
    padding: 13px 12px 11px;
    text-align: left;
}